*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background: #100;
    font-size: 18px;
    font-family: 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

input {
    border: 1px solid #666;
    padding: 10px;
    border-radius: 5px;
    background: #644;
    color: #fff;
}

button {
    border: 1px solid #fff;
    color: #fff;
    padding: 10px;
    background: transparent;
    border-radius: 5px;
}

button.green {
    background: #255e25;
}

button.icon-button {
    padding: 0;
    border: none;
}

button.icon-button img {
    height: 40px;
    width: 40px;
}

header {
    flex-shrink: 0;
    background: #caa;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}


.buttons {
    display: flex;
    gap: 10px;
}

.content {
    flex-grow: 1;

    position: relative;
}

.inner-content {
    display: grid;
    height: 100%;
    width: 100%;
}

.empty-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #100;
}

.empty-content > div {
    font-size: 24px;
    padding: 40px;
    max-width: 400px;
    border: 1px solid #666;
    color: #666;
    text-align: center;
    border-radius: 10px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.modal-background {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.modal-content {
    z-index: 3;
    background: #422;
    color: #aaa;
    border-radius: 5px;
    border: 1px solid #aaa;
    min-width: 500px;
}

.add-modal-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.add-modal-body h3 {
    font-size: 24px;
    font-weight: bold;
    padding: 0;
}

.add-modal-body div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-modal-body .checkbox-wrapper {
    flex-direction: row;
}



.modal-footer {
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-direction: row-reverse;
}

.chat-container {
    display: flex;
    flex-direction: column;
    column-span: 1;
}

.chat-header {
    color: #000;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.chat-header.twitch {
    background: #6441a5;
    color: #fff;
}

.chat-header.youtube {
    background: #FF0000;
}

.chat-header.kick {
    background: #00e701;
}

.chat-header.tiktok {
    background: #000;
    color: #fff;
}

.chat-body {
    flex-grow: 1;
}

.chat-body iframe {
    height: 100%;
    width: 100%;
    border: none;
}

.chat-buttons {
    display: flex;
    gap: 10px;
}



.icon-button.link-button img,
.icon-button.close-button img {
    height: 30px;
    width: 23px;
}

.chat-header.youtube img {
    filter: brightness(0);
}